
*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
    

}
body{
    background-image: url(./image/land.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    
}
.logo{
    
}
.logo a{
    color: antiquewhite;
    text-decoration: none;
    
}
.logo a:hover{
    color: rgba(218, 140, 15, 0.795);
}
nav ul li{
    list-style: none;
    display:inline-block ;
    padding-left: 200px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    transition: all 0.3 ease 0s;
}
nav ul li a:hover{
    color: rgba(218, 140, 15, 0.795);
}
header{
   
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 25px 10% ;
    background-color:#900c3f;
}

   .search-box {
    padding: 5px;
    margin-left: 40%;
     }
      .search-box input{
        border-radius: 8px;
        padding: 8px;
        font-size: 15px;
        outline: 1px solid black;
        border:1px solid #900c3f;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
transition: all 0.3 ease 0s;
     }
     input:hover{
        border: 2px solid #d0c4c9;
     }
    /* CARD */
    .carditem{
        margin-top:200px;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
       
justify-content: space-between;
       
    }
    img{
        margin-left: 100px;
        width: 100px;
        height: 100px;
        border-radius: 20%;
        margin-top: 5px;
    }
    img:hover{
        border: 2px solid gold;
    }
    .card{
        border: 1px solid rgba(203, 167, 167, 0.685);
        border-radius: 10px;
        border-top-left-radius:30px;
        
        height: 300px;
        width: 300px;
        
        max-width: 60%;
        margin: 10px;
        overflow: hidden;
        position: relative;
        background-color: #fff;
        flex-wrap: wrap; 
        
    }
    .card h1{
        color: #900c3f;
        /* background-color: rgb(207, 222, 222); */
        text-align: center;
        font-family: monospace;
        font-size: x-large;
        font-weight: 700;
        text-shadow: #21211e;
        letter-spacing: 3px;
        
    }
    .card:hover{
        
        background-color:#d0c4c9;
        transform: scale(1.05);
        border: 2px solid #fff;
    }
    .carditem h1{
        /* color: #d0c4c9; */
    }
     .carditem  p{
        padding: 10px;
        color: #21211e;
     }
     footer{
        background-color: rgba(193, 181, 181, 0.626);
        color: white;
     }
     footer a{
        color: #21211e;
     }
     /* CADR IMAGE ANCHOR TAG */
     .cardanchor{
        text-decoration: none;
        height: 20px;
        width: 20px;
        color: rgb(65, 68, 71);
        background-color:transparent;
        border-radius: 10px;
        border: 2px solid gainsboro ;
        font-size: bold;
        padding: 5px;
        font-weight: 700;
        margin-left: 100px;
     }
     .cardanchor:hover{
    
        
        background-color: transparent;
    
        border: 2px solid rgba(24, 21, 21, 0.833);
     }
     /* logo */
     .logos{
        
        
        color: #0e0d0dc9;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 250px; 
        letter-spacing: 20px;
        height: 150px;

     }
     .logos:hover{
        color: #e6dcdcc3;
     }